<nav>
  <ul>
    <li>
    <form id="search_box" method='GET' action="/shows/">
      <input type="search" name="search" placeholder="Search For Tv Shows.." class="searchbox">
    </form>
    </li>
      <li><a class='navbar' href='/shows'>Home</a></li>
      <li><a class='navbar' href='/myshows'>My Shows</a></li>
      <li><a class='navbar' href=''>Watchlist</a></li>
      <li><a class='navbar' href='/user'>Account</a></li>
      <li><a class='navbar' href='/auth/logout'>Logout</a></li>
  </ul>
</nav>



