<nav>
  <ul>
    <li><a class='navbar' href='/auth/logout'>Logout</a></li>
    <li><a class='navbar' href='/user'>Account</a></li>
    <li><a class='navbar' href=''>Watchlist</a></li>
    <li><a class='navbar' href=''>Favorites</a></li>
    <li><a class='navbar' href='/shows'>Home</a></li>
  </ul>
</nav>
