<% include ./partials/boilerplate %>


<div class='welcomecontainer'>

  <div class='welcome'></div>

  <div class='welcome2'>
    <div class='h1div'>
      <h1><%= subTitle %></h1>
    </div>
  </div>


  <div class='welcome3'></div>

  <div class='homepage'>
    <div class='logbutton'>
      <button><a class='indexlink' href='/auth/login'>LOGIN</a></button>
      <button><a class='indexlink' href='/auth/register'>REGISTER</a></button>
      <button><a class='indexlink' href='/shows'>VIEW SHOWS</a></button>
    </div>
  </div>


  <div class='welcome4'><div>

</div>


<% include ./partials/end %>
