<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div class='myprofile'>
  <h2>Profile</h2>
<p> View Account Details </p>
<p> <%= user %> </p>
</div>

<% include ../partials/end %>
