body {
  height: 100%;
  background: black;
}

h1 {
  font-size: 80px;
  color: #ffcc00;
  text-align: center;
}

h2 {
  background: -webkit-linear-gradient(#eee, #333);
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  letter-spacing: 2px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: rgba(192,192,192,0.2) url("../images/seriesjunkielogo.png") no-repeat top left;
  opacity: 0.95;
/*  border-radius: 30px;*/
  background-size: 142px;
  height: 80px;
}

.searchbox {
    width: 300px;
    height: 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.navbar {
  color: white;
}

.navbar:hover {
    color: rgb(204, 153, 0);
}

ul {
  height: 50px;
}

li {
  font-family: 'BenchNine', sans-serif;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}

.showindex {
  margin: auto;
  max-width: 1100px;
  background-color: black;
}

.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  width: 235px;
  height: 340px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.next {
    background-color: red;
    color: black;
}

#nextpage {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.welcomecontainer{
  min-height: 100vh;
  position: relative;
  background: black;
}

.welcome {
  height: 120px;
  background-image: url("../images/homepageimage.jpg");
  opacity: 0.7;
}

.welcome2 {
  height: 100px;
  padding-bottom: 20px;
}

.welcome3 {
  height: 120px;
  background-image: url("../images/homepageimage.jpg");
  opacity: 0.7;
}

.homepage {
  display: flex;
  height: 145px;
  justify-content: center;
  padding: 30px;
}

.logbutton {
   align-self: center;
}

button {
  padding: 5px 25px;
  background-color: #ffcc00;
  font-size: 15px;
}

.welcome4 {
  bottom: 0;
  height: 120px;
  left: 0;
  position: absolute;
  right: 0;
  background-image: url("../images/homepageimage.jpg");
  opacity: 0.7;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  border:2px solid red;
}

#loginpage {
  align-self: center;
}

#registerpage {
  align-self: center;
}

.login form, .register form {
  width: 30vw;
  padding: 30px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.loggingin {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

.registering {
  margin-top: 3px;
  padding: 18px;
  font-size: 16px;
}


.login form input[type=submit], .register form input[type=submit] {
  background-color: red;
  display: block;
  margin: auto;
  padding: 8px 12px;
  font-size: 16px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}












