html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: white;
}


/*****Show Index******/
h2 {
  background-color: -webkit-linear-gradient(#eee, #333);
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  letter-spacing: 2px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.6) url("../images/seriesjunkielogo.png") no-repeat top left;
  background-size: 142px;
  height: 80px;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}
#search_box input:focus {
    outline: none;
    border-color: red;
    box-shadow: red;
}
.searchbox {
    width: 300px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.navbar {
  color: white;
}
.navbar:hover {
    color: red;
}
ul {
  height: 50px;
}
li {
  font-family: 'BenchNine', sans-serif;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
.showindex {
  margin: 120px auto auto auto;
  max-width: 1100px;
  background-color: white;
  line-height: 0px;
}
.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
img {
  width: 235px;
  height: 340px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
#imglink:hover {
    background-color: darkred;
}
.next {
    background-color: black;
    color: white;
    padding: 15px;
}
#nextpage {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
/**************************/


/****Enter Website****/
h1 {
  margin: auto;
  font-size: 80px;
  color: #ffcc00;
  text-align: center;
  padding: 40px 45px;
}
.h1div {
 align-self: center;
  background: black;
  padding: 20px;
}
.welcomecontainer{
  margin: 0;
  background: url("../images/homepageimage.jpg") repeat;
  background-size: 480px;
  min-height: 100%;
}
.welcome {
  height: 100px;
}
.welcome2 {
  display: flex;
  justify-content: center;
  height: 200px;
}
.welcome3 {
  height: 100px;
}
.welcome4 {
  height: 100px;
}
.homepage {
  display: flex;
  height: 145px;
  justify-content: center;
  padding: 30px;
}
button {
  padding: 5px 25px;
  background-color: #ffcc00;
  font-size: 15px;
}
.logbutton {
  padding: 70px;
  background: black;
  align-self: center;
}
/********************/


/***Login and Register***/
#loginpage, #registerpage {
   align-self: center;
}
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  border:2px solid red;
}
.login, .register {
  width: 30vw;
  padding: 30px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.loggingin {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #8c8c8c;
}
.registering {
  margin-top: 3px;
  padding: 18px;
  font-size: 16px;
  border: 1px solid #8c8c8c;
}
.login input[type=submit], .register input[type=submit] {
  background-color: red;
  display: block;
  margin: auto;
  padding: 8px 12px;
  font-size: 16px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}
/*******************/


/****View Api Show****/
.showsingle {
  background: white;
  padding-top: 80px;
}
.showsingle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h3 {
  font-family: 'Cabin Sketch', cursive;
  margin-bottom: 42px;
  max-width: 240px;
  height: 20px;
  font-size: 22px;
  color: red;
  text-align: center;
}
#imgp, #p1, #p2, #p3 {
  margin: 0 20px 0 10px;
}
#p1, #p2, #p3 {
  color: #2f343d;
  text-align: left;
  font-size: 16px;
  margin-bottom: 5px;
  max-width: 250px;
  font-weight: bold;
}
.showsinglespan {
  padding-right: 5px;
  text-decoration: underline;
  font-size: 18px;
  color: #2f343d;
  font-weight: bolder;
}
/***************/


/*****Profile****/
.accountlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accspan {
  font-family: 'Cabin Sketch', cursive;
  font-size: 20px;
}
.accpara {
  font-size: 19px;
}
.myprofile {
    height: 500px;
    width: 800px;
    margin: 140px auto;
    border: 3px solid black;
}
/*************/


/*MyShows */
.myshows {
  margin-top: 100px;
  height: 100vh;
  background: white;
  text-align: center;
}
h4 {
  line-height: 0px;
  font-family: 'Kumar One', cursive;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}
.profileshows {
  font-family: 'Cabin Sketch', cursive;
  font-size: 19px;
  color: #2f343d;
  text-align: center;
}
.profilespan {
  text-decoration: underline;
  font-size: 20px;
  color: #2f343d;
  font-weight: bolder;
}
.profilelink, #plink {
  display: inline;
}
#plink1 {
  background-color: #1a1a1a;
  margin: auto;
  padding: 4px 12px;
  font-size: 16px;
  color: red;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}
#plink2 input[type=submit]  {
  background-color: #1a1a1a;
  margin: auto;
  padding: 4px 12px;
  font-size: 12px;
  color: red;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}
.myshow-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#myshowdata {
  background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1));
  width: 250px;
  margin-bottom: 20px;
}
#myshowlink {
  padding-top: 200px;
  background-image: url("../images/addbutton.png");
  background-repeat: no-repeat;
  background-size: 170px;
  width: 150px;
}
/*************************/


/***Add/Edit Page***/
#addindex, #singleedit {
    line-height: 0px;
    margin-top: 120px;
}
.addpage-container, .editpage-container  {
  display: flex;
  justify-content: center;
}
.adding, .editing {
  margin-top: 3px;
  padding: 18px;
  font-size: 16px;
  border: 1px solid black;
}
.add input[type=submit], .edit input[type=submit] {
  background-color: red;
  display: block;
  margin: auto;
  padding: 8px 12px;
  font-size: 16px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}
.add, .edit {
  width: 30vw;
  padding: 30px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
}
/************/


/**MOBILE**/
@media only screen and (max-width: 1000px) {
.welcomecontainer {
  background-size: 400px;
}
  h2 {
  font-size: 40px;
  letter-spacing: 0px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(0, 0, 0, 1) url("../images/seriesjunkielogo.png")  repeat-x top;
  background-size: 40px;
  height: 100px;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}
.searchbox {
    width: 300px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
 }
li {
  font-size: 20px;
  font-weight: bold;
}
img {
  width: 150px;
  height: 200px;
}
.next {
    background-color: black;
    color: white;
    padding: 10px;
}
h4 {
  font-size: 13px;
}
.myprofile, .myshows {
  margin-top: 120px;
}
.profileshows {
  font-size: 16px;
}
.profilespan {
  font-size: 18px;
}
#myshowdata {
  width: 150px;
  margin-bottom: 20px;
}
#myshowlink {
  background-size: 120px;
  width: 100px;
}
#plink1 {
  padding: 2px 8px;
  font-size: 13px;
}
#plink2 input[type=submit]  {
  background-color: #1a1a1a;
  margin: auto;
  padding: 2px 7px;
  font-size: 10px;
}
}

@media only screen and (max-width: 800px) {
  .welcomecontainer {
  background-size: 350px;
}
.welcome {
  height: 80px;
  margin-bottom: 40px;
}
.welcome2 {
  height: 80px;
  padding-bottom: 20px;
}
.welcome3 {
  height: 80px;
  margin-top: 40px;
}
h1 {
  font-size: 60px;
  padding: 20px 10px;
}
h2 {
  font-size: 30px;
}
.myprofile, .myshows {
  margin-top: 120px;
}
.logbutton {
  padding: 60px;
  }
button {
  padding: 3px 0;
  background-color: #ffcc00;
  font-size: 12px;
}
h3 {
  margin-bottom: 40px;
  max-width: 160px;
  height: 18px;
  font-size: 18px;
}
#p1, #p2, #p3 {
  font-size: 16px;
  max-width: 160px;
}
 .add, .edit, .login, .register {
  width: 300px;
 }
 .myprofile {
    height: 400px;
    width: 500px;
 }
}

@media only screen and (max-width: 514px) {
.welcomecontainer {
  background-size: 300px;
}
  h1 {
  font-size: 28px;
  padding: 40px 20px;
}
.myprofile, .myshows {
  margin-top: 120px;
}
button {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  width: 70px;
  height: 8vh;
  text-transform: lowercase;
}
a.indexlink {
  width: 50%;
  text-align: center;
}
 .add, .edit, .login, .register {
  width: 250px;
 }
 .login input[type=submit], .register input[type=submit] {
  padding: 3px 8px;
  font-size: 10px;
  margin-top: 5px;
 }
.loggingin, .registering {
  padding: 10px;
  font-size: 12px;
 }
 .welcome {
  height: 100px;
  margin-bottom: 20px;
}
.welcome2 {
  height: 60px;
  padding-bottom: 20px;
}
.welcome3 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.welcome4 {
 }
 .logbutton {
  padding: 70px 40px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  height: 20px;
 }
 .myprofile {
    height: 400px;
    width: 300px;
}
}















