<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div id='addindex'>
  <h2>ADD:</h2>
    <div class='addpage-container'>
      <form class='add' method='POST' action='/myshows'>
        <input class='adding' name='title' type='text' placeholder='title' />
        <input class='adding' name='genre' type='text' placeholder='genre' />
        <input class='adding' name='country' type='text' placeholder='country' />
        <input class='adding' name='network' type='text' placeholder='network' />
        <input class='adding' name='status' type='text' placeholder='status' />
        <input type='submit' value='Submit!' />
      </form>
    </div>
</div>

<% include ../partials/end %>
