<% include ../partials/boilerplate %>

<div class='showindex'>

  <div class='show-container'>
    <% for (let show of data) { %>
      <div class='show'>
        <h3><%= show.title %></h3>
        <div>
          <a class='linkto' href='/shows/<%= show.id %>'>Info</a>
        </div>
      </div>
    <% } %>
  </div>
</div>

<% include ../partials/end %>
