<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<div class='showindex'>
<h2>POPULAR TV-SHOWS</h2>
  <div class='show-container'>
    <% for (let show of data) { %>
      <div class='show'>
        <a id='imglink' href='/shows/<%= show.name %>'>
          <img src=<%= show.image_thumbnail_path %>>
        </a>
      </div>
    <% } %>
  </div>

  <div id='nextpage'>
   <a href='/shows?page=<%= parseInt(pageNumber) + 1 %>' class="next">Next &raquo;</a>
  </div>

</div>

<% include ../partials/end %>


